:root {
  --virtual-keyboard-offset: env(keyboard-inset-height, 0px);
}

.productNameInput {
  position: fixed;
  right: 50%;
  bottom: 8rem;
  width: 32rem;
  transform: translateX(50%);
  margin-block-end: var(--virtual-keyboard-offset);
}

.barcodeScannerToggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
