.image {
  object-fit: cover;
}

.placeholderImage {
  align-items: center;
  justify-content: center;
  background-color: var(--gray-5);
}

.image,
.placeholderImage {
  display: flex;
  width: 100%;
  aspect-ratio: 1.5 / 1;
  cursor: pointer;
}

.size1 {
  height: 12rem;
}

.size2 {
  height: 6rem;
}
