:root {
  --sidebar-width: 150px;
}

.container {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--gray-4);
  gap: 30px;
  width: var(--sidebar-width);
  float: left;
  position: fixed;
}

.navItemContainer {
  display: flex;
  flex-direction: column;
}

.active {
  font-weight: bold;
  background-color: var(--accent-5);
}

.navLogo {
  padding: 40px;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
  padding: 40px 50px;
  text-decoration: none;
}

.navItem:active {
  color: inherit;
}

.themeSwitcher {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
}
